version: '3.9'

services:
  # Database
  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    env_file: .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  # Backend (NestJS)
  backend:
    build: ./backend
    container_name: nest_backend
    restart: always
    env_file: .env
    ports:
      - "${BACKEND_PORT}:3000"
    depends_on:
      - postgres
    networks:
      - app-network

  # Frontend (React)
  frontend:
    build: ./frontend
    container_name: wol_frontend
    restart: always
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
