version: '3.9'

services:
  # Database
  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    env_file: .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  # Backend (NestJS)
  backend:
    build: 
      context: ./backend
      args:
        - DATABASE_URL=${DATABASE_URL}
    container_name: nest_backend
    restart: always
    env_file: .env
    environment:
      - INTERNAL_PORT:${INTERNAL_PORT}
      - BACKEND_PORT:${BACKEND_PORT}
      - BACKEND_ISSUER_BASE_URL:${BACKEND_ISSUER_BASE_URL}
      - BACKEND_AUDIENCE:${BACKEND_AUDIENCE}
      - DATABASE_URL:${DATABASE_URL}
    ports:
      - "${BACKEND_PORT}:${INTERNAL_PORT}"
    depends_on:
      - postgres
    networks:
      - app-network

  # Frontend (React)
  frontend:
    build: 
      context: ./frontend
      args:
        - FRONTEND_PORT=${FRONTEND_PORT}
        - VITE_BACKEND_HOST=${VITE_BACKEND_HOST}
        - VITE_AUTH0_DOMAIN=${VITE_AUTH0_DOMAIN}
        - VITE_AUTH0_CLIENT_ID=${VITE_AUTH0_CLIENT_ID}
        - VITE_AUTH0_AUDIENCE=${VITE_AUTH0_AUDIENCE}
        - VITE_AUTH0_REDIRECT_URI=${VITE_AUTH0_REDIRECT_URI}
    container_name: wol_frontend
    restart: always
    env_file: .env
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
